* {
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-align: center;
}
img{
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
	
}
header{
	height: 100vh;
	width: 100vw;
	background: url(/header.jpg);
	background-size: cover;
	background-position: center bottom;
	background-origin: padding-box;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav{
	position: fixed;
	align-self: flex-end;
	display: flex;
	text-transform: uppercase;
}

header a{
	padding: 0.7rem;
	color: #fff;
	text-decoration: none;
	transition: transform;
}
header a:hover{
	color: #fff;
	transform: translateY(-3px);
}
h1{
	text-transform: uppercase;
	font-size: 4.5rem;
	flex: 1 1 auto;
	margin-top: 15vh;
}
h2{
	text-transform: uppercase;
	font-size: 3em;
	color: rgb(38, 72, 128);
	margin: 0;
}

h3{
	text-transform: uppercase;
	font-size: 2em;
}
h4{
	font-size: 1.5em;
	margin-bottom: 0;
}
main{
	display: flex;
	flex-flow: row wrap;
}

section{
	min-height: 100vh;
	width: 100vw;
	
}

.split{
	min-height: 50vh;
}
@media screen and (min-width: 768px){
	.half{
		width: 50%;
	}
	.onethrid{
		width: 33.33%
	}
	.twothrids{
		width: 66.67%
	}
}

section:nth-child(1){
	order: 1;
}
section:nth-child(2){
	order: 2;
}
section:nth-child(3){
	order: 3;
}
section:nth-child(4){
	order: 4;
}
section:nth-child(5){
	order: 5;
}
section:nth-child(6){
	order: 6;
}
section:nth-child(7){
	order: 7;
}
section:nth-child(8){
	order: 8;
}
section:nth-child(9){
	order: 9;
}
section:nth-child(10){
	order: 10;
}
section:nth-child(11){
	order: 11;
}
section:nth-child(12){
	order: 12;
}
section:nth-child(13){
	order: 13;
}
section:nth-child(14){
	order: 14;
}
section:nth-child(15){
	order: 15;
}
section:nth-child(16){
	order: 16;
}
section:nth-child(17){
	order: 17;
}
@media screen and (min-width: 768px){
	section:nth-child(3){
		order: 4;
	}
	section:nth-child(4){
		order: 3;
	}
	section:nth-child(7){
		order: 8;
	}
	section:nth-child(8){
		order: 7;
	}
	section:nth-child(11){
		order: 12;
	}
	section:nth-child(12){
		order: 11;
	}
}

.image-cover{
	background-size: cover;
	background-position: center;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.half.text > *{
	max-width: 350px;
}
.twothrids.text > *{
	max-width: 470px;
}


.persons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@media screen and (min-width: 1010px) {
	.persons{
		flex-direction: row;
	}
}
.persons > div{
	min-height: 100vh;
	flex: 0 0 auto;
	width: 100%;
	max-width: 256px;
	margin: 20px 40px;
}

.persons img{
	border-radius: 50%;
	max-width: 80%;
	max-height: 80%;
}

.persons p{
	margin: 0 0;
}




/* CountDown */
.countdown{
	width: 100%;
	max-width: 720px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.countdown > div{
    font-size: 18px;
}
.countdown div > span{
    font-size: 30px;
    display: block;
}