* {
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-align: center;
}
h2, h3, h4, h5, h6{
	font-family: 'Stalemate', cursive;
}
img{
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}
header{
	height: 100vh;
	width: 100vw;
	background: url(/header.jpg);
	background-size: cover;
	background-position: center bottom;
	background-origin: padding-box;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav{
	position: fixed;
	align-self: flex-end;
	display: flex;
	text-transform: uppercase;
}

header a{
	padding: 0.7rem;
	color: #fff;
	text-decoration: none;
	transition: transform;
}
header a:hover{
	color: #fff;
	transform: translateY(-3px);
}
h1{
	text-transform: uppercase;
	font-size: 4.5rem;
	flex: 1 1 auto;
	margin-top: 15vh;
	font-weight: 300;
}
h2{
	/*text-transform: uppercase;*/
	font-size: 5em;
	/*color: rgb(38, 72, 128);*/

	margin: 0;
	font-weight: 300;
}

h3{
	/*text-transform: uppercase;*/
	font-size: 2em;
	font-weight: 300;
}
h4{
	font-size: 1.5em;
	margin-bottom: 0;
}
main{
	display: flex;
	flex-flow: row wrap;
}

section{
	min-height: 100vh;
	width: 100vw;
	
}
p{
	margin-top: 0px;
	margin-bottom: 2em;
}

.split{
	min-height: 50vh;
}
@media screen and (min-width: 768px){
	.half{
		width: 50%;
	}
	.onethrid{
		width: 33.33%
	}
	.twothrids{
		width: 66.67%
	}
}

section:nth-child(1){
	order: 1;
}
section:nth-child(2){
	order: 2;
}
section:nth-child(3){
	order: 3;
}
section:nth-child(4){
	order: 4;
}
section:nth-child(5){
	order: 5;
}
section:nth-child(6){
	order: 6;
}
section:nth-child(7){
	order: 7;
}
section:nth-child(8){
	order: 8;
}
section:nth-child(9){
	order: 9;
}
section:nth-child(10){
	order: 10;
}
section:nth-child(11){
	order: 11;
}
section:nth-child(12){
	order: 12;
}
section:nth-child(13){
	order: 13;
}
section:nth-child(14){
	order: 14;
}
section:nth-child(15){
	order: 15;
}
section:nth-child(16){
	order: 16;
}
section:nth-child(17){
	order: 17;
}
section:nth-child(18){
	order: 18;
}
section:nth-child(19){
	order: 19;
}
section:nth-child(20){
	order: 20;
}
section:nth-child(21){
	order: 21;
}
section:nth-child(22){
	order: 22;
}
section:nth-child(23){
	order: 23;
}
section:nth-child(24){
	order: 24;
}
section:nth-child(25){
	order: 25;
}
section:nth-child(26){
	order: 26;
}
section:nth-child(27){
	order: 27;
}
section:nth-child(28){
	order: 28;
}
section:nth-child(29){
	order: 29;
}
@media screen and (min-width: 768px){
	section:nth-child(3){
		order: 4;
	}
	section:nth-child(4){
		order: 3;
	}
	section:nth-child(7){
		order: 8;
	}
	section:nth-child(8){
		order: 7;
	}
	section:nth-child(11){
		order: 12;
	}
	section:nth-child(12){
		order: 11;
	}
	section:nth-child(15){
		order: 16;
	}
	section:nth-child(16){
		order: 15;
	}
}

.image-cover{
	background-size: cover;
	background-position: center;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.half.text > *{
	max-width: 350px;
}
.twothrids.text > *{
	max-width: 470px;
}

.container{
	background: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	margin-bottom: 150px;
}

.container p{
	margin: 2em 0; 
}

.hotels{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hotels > div{
	flex: 1 0 215px;
	margin: 10 auto;
}

@media screen and (min-width: 840px){
	.container{
		margin-right: 370px;
	}
}

.helpers{
	display: flex;
	justify-content: space-around;
}

.helper{
	flex: 1 1 auto;
	max-width: 300px;
}
.helper h3{
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 2.5em;
	margin: 10px auto 0;
}

.helper-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.persons{
	min-height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
}

.person{
	display: flex;
	flex-direction: column;

}
.person > .image	{
	width: 100vw;
	/*max-width: 500px;*/
	height: 100vw;
	/*max-height: 500px;*/
}

.person .description{
	padding: 10px;
	align-self: center;
}

.person .description p{
	margin: 0 auto;
	max-width: 350px;
}

.person h2{
	font-size: 2.5em;
	font-weight: bold;
}

/*.person > *:after{
	display: block;
	padding-top: 50%;
	content: '';
}*/

@media screen and (min-width: 768px){
	.person{
		flex-direction: row;
	}

	.person > *{
		width: 50vw;
	}

	.person > .image{
		height: 40vw;
		width: 50vw;
	}
}

@media screen and (min-width: 960px){
	.secondary-person > *{
		width: 25vw;
	}
	
	.secondary-person > .image{
		height: 25vw;
		width: 25vw;
	}
}



/* musik form*/
.music-form {
	position: relative;
    height: 781px;
}

@media screen and (min-width: 661px){
	.music-form{
		height: 845px;
	}
}

/* musik form*/
.osa-form {
	position: relative;
    height: 941px;
}

@media screen and (min-width: 661px){
	.osa-form{
		height: 1033px;
	}
}

.music-form iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CountDown */
.countdown{
	width: 100%;
	max-width: 720px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.countdown > div{
    font-size: 18px;
}
.countdown div > span{
    font-size: 30px;
    display: block;
}